#contenedor {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
	overflow: hidden;
}
aside {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}
main {
	display: inline-block;
	width: calc(100% - 200px);
}
.img100 {
	width: 100%;
}
header {
	position: relative;
}
header h1 {
	position: absolute;
	left: 50%;
	color: white;
	top: 35%;
	font-size: 5vw;
}
.redes {
	position: fixed;
	bottom: 10px;
}



