@media (min-width:  768px) {
	main {
		column-count: 2;
		column-gap: 20px;
		column-rule-style: solid;
		column-rule-width: 2px;
		column-rule-color: red;
	}
	main p:first-child {
		margin-top: 90px;
		margin-bottom: 90px;	
	}
}
@media (min-width:  1024px) {
	main {
		column-count: 3;
	}
}