@media (min-width: 768px) {
	.contenedor {
		width: 750px;
		margin: 0 auto;
	}
	main,aside {
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
	}
	aside {
		width: 200px;
		padding-right: 20px;	
	}
	main {
		width: calc(100% - 200px);	
	}
	.caja {
		width: 50%;
		box-sizing: border-box;
		float: left;
	}
	.caja:nth-child(2n+1) {
		clear: both;
		padding-right: 10px;
	}
	.caja:nth-child(2n) {
		padding-left: 10px;
	}		
}
@media (min-width:  1200px) {
	.contenedor{
		width: 1170px;
	}
	.caja {
		width: 25%;
	} 
	.caja:nth-child(2n+1) {
		clear: none;
	}
	.caja {
		padding-left: 10px;
		padding-right: 10px;
	}
	main .caja:first-child {
		padding-left: 0px;	
	}
	main .caja:last-child {
		padding-right: 0px;	
	}
}













