ul.menu {
	background-color: #f4f4f4;
	border: 1px solid #7c7c7c;
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
ul.menu li {
	width: 25%;
	float: left;
	text-align: center;
}
ul.menu li a {
	display: block;
	background-color: orange;
	color: white;
	text-decoration: none;
	padding: 5px;
	border-right: 1px solid white;
}
ul.menu .ultimo a {
	border-right-color:  orange;
}
ul.menu li a:hover {
	background-color: red;
}
ul.menu .ultimo a:hover {
	border-right-color:  red;
}
h1 {
	text-align: center;
}

